:root {
	--black: black;
	--white: white;
	--whiteNUM: white;
	--boxshadow: rgba(100, 100, 100, 0.205);
}

[data-theme="dark"] {
	--black: white;
	--white: rgb(20, 20, 20);
	--whiteNUM: rgb(70, 70, 70);
	--boxshadow: rgba(255, 255, 255, 0);
}

body {
	transition: all 0.25s ease-out;
}

.logo {
	position: absolute;
	top: 6.5%;
	width: 40%;
	height: 7%;
	left: 30%;
	padding-bottom: 20px;
	z-index: 10;
	transition: all 0.25s ease-out;
}

.theme-switch {
	position: fixed;
	display: inline;
	position: absolute;
	bottom: 2%;
	left: 2%;
	padding-left: 30px;
	padding-bottom: 22px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.theme-switch input {
	position: fixed;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: fixed;
	bottom: 3%;
	left: 2%;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background-color: var(--black);
	transition: all 0.25s ease-out;
}


.theme-switch input:checked~.checkmark {
	background-color: var(--black);
	transition: all 0.25s ease-out;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	transition: all 0.25s ease-out;
}

.theme-switch input:checked~.checkmark:after {
	display: block;
	transition: all 0.25s ease-out;
}


body {
	background: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Circular';
	margin: 0;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 8%;
	max-width: 60%;
}

.pokemon {
	background-color: #eee;
	border-radius: 0px 19px 19px 19px;
	margin: 55px;
	margin-top: 95px;
	padding: 30px;
	text-align: center;
	transform: scale(1.5);
	transition: all 0.1s ease-out;
}

.pokemon:hover {
	transform: scale(1.6);
	transition: all 0.1s ease-out;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.205);
}

.pokemon:hover .img-container {
	transition: all 0.1s ease-out;
}

.pokemon .img-container {
	background-color: none;
	width: 120px;
	height: 120px;
	text-align: center;
	transition: all 0.1s ease-out;
}

.pokemon .img-container img {
	margin-top: 90px;
	max-width: 90%;
	transition: all 0.1s ease-out;
}

.pokemon .info {
	margin-top: -120px;
	padding-bottom: 120px;
}

.pokemon .number {
	position: absolute;
	top: -3%;
	left: -3%;
	background-color: var(--whiteNUM);
	color: var(--black);
	box-shadow: 0 3px 15px var(--boxshadow);
	border-radius: 8px;
	font-family: Circular;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 10px;
	transition: all 0.25s ease-out;
}

.pokemon .name {
	margin: 15px 0px 7px;
	opacity: 85%;
	text-decoration: underline;
}

.pokemon .type {
	background-color: rgba(56, 56, 56, 0.055);
	font-size: 10px;
	color: rgba(0, 0, 0, 0.678);
	padding: 3px 12px;
	border-radius: 7px;
}